h1 {
    color: orange; text-align: right;
}
p:first-letter {
    color: red; font-size: 30px;
}
em {
    background-color: green; color: white;
}
#allotment h2 {
    color: orange;
}
#allotment ul { font-weight: bold}
#allotment .fruits-list {
    color: grey; font-weight: normal;
}
#allotment .vegetables-list {
    color: red; font-weight: normal;
}
#warehouse h2 {
    color: blue;
}
#warehouse ul {font-weight: bold}
#warehouse .fruits-list {
    color: green; font-weight: normal;
}
#warehouse .vegetables-list {
    color: red; font-weight: normal;
}
.students-table thead{
    font-weight: bold;
}
.students-table tbody{
    background-color: green; color: white;
}
.students-table tbody td:first-child
{background-color: white; color: orange;
}